h1 {
	color: white;
	text-align: center;
}
header {
	background-color: blue;
}
body {
	background: url(../img/ss.png);
	background-size: cover;
}

video {
	padding: 5px;
	height: auto;
	width: 75%;
}
.picture {
	position: relative;
	max-width: 50%;
	height: auto;
	padding-right: 400px;
}

.topic {
	text-align: center;
}
