h1 {
	color: white;
	text-align: center;
}
header {
	background-color: blue;
}
body {
	background: url(img/ss.png);
	background-size: cover;
}
.picture {
	position: relative;
	max-width: 50%;
	height: auto;
	padding-right: 400px;

}

.topic {
	padding: 25px;
	text-align: center;
}
